<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
          let enableBS= "<%- enableBS %>", enableSC= "<%- enableSC %>", enableHR= "<%- enableHR %>", enableLC= "<%- enableLC %>";
          let youtubeChannelID= "<%- youtubeChannelID %>", youtubeAPIKey= "<%- youtubeAPIKey %>", scoreSaberProfileLink= "<%- scoreSaberProfileLink %>", pusloidWidgetLink= "<%- pusloidWidgetLink %>";

          if (enableBS === true) { enableBS = Boolean(true) } else { enableBS = Boolean(false) }
          if (enableHR === true) { enableHR = Boolean(true) } else { enableHR = Boolean(false) }
          if (enableLC === true) { enableLC = Boolean(true) } else { enableLC = Boolean(false) }
          if (enableSC === true) { enableSC = Boolean(true) } else { enableSC = Boolean(false) }
          if (youtubeChannelID === undefined) { youtubeChannelID = "" }
          if (youtubeAPIKey === undefined) { youtubeAPIKey = "" }
          if (scoreSaberProfileLink === undefined) { scoreSaberProfileLink = "" }
          if (pusloidWidgetLink === undefined) { pusloidWidgetLink = "" }
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Interacties Settings</title>
    </head>
    <body>
        <div class="container">
            <h2>Interacties Settings</h2>
            <form id="my-form" action="http://localhost:5500/setvalues" method="POST">
              <div class="form-group">
                <label for="beat-saber">Enable Beat Saber:</label>
                <input type="checkbox" class="form-control" id="beat-saber" name="beat-saber" checked="<%- enableBS %>">
              </div>
              <div class="form-group">
                <label for="heart-rate">Enable Heart Rate:</label>
                <input type="checkbox" class="form-control" id="heart-rate" name="heart-rate" checked="<%- enableHR %>">
              </div>
              <div class="form-group">
                <label for="subscriber-count">Enable Subscriber Count:</label>
                <input type="checkbox" class="form-control" id="subscriber-count" name="subscriber-count" checked="<%- enableSC %>">
              </div>
              <div class="form-group">
                <label for="live-chat">Enable Live Chat:</label>
                <input type="checkbox" class="form-control" id="live-chat" name="live-chat" checked="<%- enableLC %>">
              </div>
              <div class="form-group">
                <label for="youtube-channel-id">YouTube Channel ID:</label>
                <input type="text" class="form-control" id="youtube-channel-id" name="youtube-channel-id" value="<%- youtubeChannelID %>">
              </div>
              <div class="form-group">
                <label for="youtube-api-key">YouTube API Key:</label>
                <input type="text" class="form-control" id="youtube-api-key" name="youtube-api-key" value="<%- youtubeAPIKey %>">
              </div>
              <div class="form-group">
                <label for="score-saber-api-profile-link">Score Saber API Profile Link:</label>
                <input type="text" class="form-control" id="score-saber-api-profile-link" name="score-saber-api-profile-link" value="<%- scoreSaberProfileLink %>">
              </div>
              <div class="form-group">
                <label for="pusloid-widget-link">Pusloid Widget Link:</label>
                <input type="text" class="form-control" id="pusloid-widget-link" name="pusloid-widget-link" value="<%- pusloidWidgetLink %>">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>